@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  position: fixed;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  background: #0d0d0d;
  box-shadow: 0 0 0.5em #000;
}

header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

header li {
  color: #fff;
  font-weight: bold;
  margin: 8px 30px;
}

.logo {
  display: block;
  width: 50px;
  height: 50px;
  user-select: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.nav_links a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 6px 18px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.nav_links a:hover {
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}


/* Body */
main h1 {
  padding-top: 40px;
  margin-block: 0 0.5em;
}

main p {
  padding-block: 1.5em;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 50em;
}

.main {
  padding-block: 6em;
  transition: all 0.3s ease 0s;
}


/* Footer */
footer {
  width: 100%;
  height: auto;
  padding-top: 40px;
  color: white;
}

footer p {
  padding-top: 1.0em;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
  background: #1a1a1a;
}

.footer-bottom p {
  background: #0d0d0d;
  text-align: center;
  padding-block: 1.5em;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #0d0d0d;
}


/* Social Media */
.social{
  display: inline-flex;
  padding-top: 30px;
  padding-bottom: 40px;
}

.social .icon{
  display: flex;
  margin: 0 20px;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease 0s;
  color: #000;
}

.social .icon span{
  display: block;
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 10px 10px #000;
  transition: all 0.3s ease 0s;
}

.social .icon span i{
  line-height: 50px;
  font-size: 25px;
}

.social .icon .popup{
  position: absolute;
  top: 0;
  background: #fff;
  padding: 6px 18px;
  font-weight: bold;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease 0s;
}

.social .icon:hover .popup{
  top: -55px;
  opacity: 1;
  pointer-events: auto;
}

.icon .popup:before{
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background: #fff;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .icon:hover span{
  color: #fff;
}

.social .icon:hover span,
.social .icon:hover .popup{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.social .twitter:hover span,
.social .twitter .popup:hover {
  background: #1D9BF0;
}

.social .instagram:hover span,
.social .instagram .popup:hover {
  background: #D7005B;
}

.social .github:hover span,
.social .github .popup:hover {
  background: #161B22;
}

